body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffdf3c;
    background-image: url(bg.jpg);
    
    

}

section{
    border-top: solid 10px rgb(11, 172, 158);
    background-color: rgba(45, 45, 51, 0.945);
    color: rgb(204, 200, 219);
    height: 500px;
    width: 500px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

#elemento{
    padding-left: 30px;
    
}

#input-name, #input-email, #input-desc, #input-sob{
    padding: 5px;
    margin: 20px;
    width: 400px;
    border-color: rgb(72, 125, 204);
    color: white;
    background-color: rgb(56, 56, 58);
    border-radius: 25px;

}



#formulario{
    color: white;
    text-align: center;
    padding-top: 10px;
}

#botao{
    width: 200px;
    padding: 3px;
    background-color: rgb(39, 36, 46);
    color: white;
    border-color: rgb(11, 172, 158);
    margin-top: 20px;
    margin-left: 125px;
    border-radius: 10px;
    font-weight: bold;
    
    
}
#botao:active{
    background-color: rgb(109, 219, 136);
}